<!DOCTYPE html>
<title>Music Tempo</title>
<link rel="stylesheet" href="{{ url_for('static',    filename='css/template.css') }}">
<link rel="icon" 
      type="image/png" 
      href="/static/img/music-note.png">

<div class="snip1104 yellow">
    <img src="/static/img/turkish_march_easy.jpg" alt="sample33" />
    <figcaption>
      <h2>Turkish March  <span> Easy</span></h2>
    </figcaption>
    <a href="{{ url_for('turkish_march_easy') }}"></a>
</div>
<div class="snip1104 blue"><img src="/static/img/turkish_march_normal.jpg" alt="sample35" />
    <figcaption>
      <h2>Turkish March <span> Normal</span></h2>
    </figcaption>
    <a href="{{ url_for('turkish_march_normal') }}"></a>
</div>